#PS4_Overlay.ps4-overlay {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0px;
  top: 0px;
  color: white;
  background-color: rgba(0, 0, 0, 0);
  transform: scale(1.2);
  transition: transform 0.5s, background-color 0.5s;
  transition-timing-function: cubic-bezier(0.030, 0.960, 0.625, 1.000);
  -o-transition-timing-function: cubic-bezier(0.030, 0.960, 0.625, 1.000);
  -moz-transition-timing-function: cubic-bezier(0.030, 0.960, 0.625, 1.000);
  -webkit-transition-timing-function: cubic-bezier(0.030, 0.960, 0.625, 1.000);
}

#PS4_Overlay.ps4-overlay.show {
  display: block;
  transform: scale(1);
  background-color: rgba(0, 0, 0, 0.7);
}

#PS4_Overlay.ps4-overlay > .top {
  height: 100px;
  font-size: 32px;
  padding: 34px 20px;
}
#PS4_Overlay.ps4-overlay > .top > p.title {
  line-height: 100%;
}

#PS4_Overlay.ps4-overlay > .body {
  /* display: flex; */
  height: calc(85% - 100px);
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  text-align: center;
  padding: 32.5% 0px;
}

#PS4_Overlay.ps4-overlay > .body > .controller > button:last-child {
  margin-right: 0px;
}
#PS4_Overlay.ps4-overlay > .body > .controller > button {
  margin-right: 30px;
}

#PS4_Overlay.ps4-overlay > .body > .description {
  margin-bottom: 30px;
}
#PS4_Overlay.ps4-overlay > .body > .description > p.text {
  font-size: 24px;
}

#PS4_Overlay.ps4-overlay > .bottom {
  height: 15%;
}

.my-button {
  width: 200px;
  padding: 10px;
  font-size: 18px;
  border: none;
  box-shadow: 0px 0px 0px 1px white;
  background-color: transparent;
  color: white;
  text-align: center;
  box-sizing: border-box;
  transition: 0.5s;
}
.my-button:hover {
  box-shadow: 0px 0px 0px 2px white;
}